*{
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: #FBFFF1;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    margin-block-start: 0;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

button {
    height: fit-content;
    width: fit-content;
    background: none;
    background-image: unset;
    border: none;
    outline: 1px solid dimgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: whitesmoke;
}

button.clicked {
    background-color: cornflowerblue;
}

.screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    visibility: hidden;
}

.screen:hover {
    cursor: pointer;
}

body.show-modal .screen, body.open .screen  {
    visibility: visible;
}


header, footer {
    /* padding: 0 5%; */
    padding: 10px;;
    background-color: #FBFFF1;
    width: 100%;
    height: 10%;
    /* height: 7.5%;
    margin: 1.25% 0; */
}

footer h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

.main-nav {
    height: 100%;
    transition: 0.3s;
    /* flex-direction: row; */
}

.main-nav a {
    color: unset;
    text-decoration: none;
}

header .main-nav > *, li button {
    height: 100%;
    width: 100px;
}


.main-nav button {
    background-color: rgba(195, 232, 189);
}
.main-nav button:hover {
    background-color: rgba(107, 138, 167);
}

.main-nav.open {
    transform: translate(0, 50%);
}

.main-nav-hamburger {
    background: unset;
    outline: unset;
    display: none;
}

.main-container {
    background-color: #1C3144;
    /* border: 3px solid rgb(43, 129, 122);
    border-radius: 10px; */
    padding: 30px;
    width: 100%;
    height: 80%;
    /* height: 75%;
    margin: 2.5% 0; */
    justify-content: space-around;
    /* flex-direction: column; */
}


.main-container > * {
    height: 100%;
}

.canvas-container {
    margin-right: 10%;
    width: 35%;
}

.options-container {
    border: 3px solid #8693AB;
    background-color: #FBFFF1;
    /* border-radius: 10px; */
    padding: 20px;
    width: 40%;
}

.options-container button {
    background-color: rgba(195, 232, 189, 0.5);
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 600;
}


.options-container button:hover {background-color: rgba(107, 138, 167, 0.5);}

.options-container > * {
    width: 100%;
    height: 33.3333%;
}

.options-container label {
    font-weight: 400;
    padding-bottom: 10px;
}

.options-container label:hover {
    cursor: pointer;
}

input[type="color"]:hover, input[type="number"]:hover, select:hover {
    cursor: pointer;
}

.change-txt-section {
    position: absolute;
    bottom: 200000px;
}

.options-container > * {
    padding: 7px;
}

.meme-canvas {
    outline: 1px solid black;
}
.meme-canvas:hover {
    cursor: pointer;
}
.meme-canvas:hover.clicked {
    cursor: grab;
}

.gallery-modal {
    position: fixed;
    border: 3px solid #8693AB;
    background-color: #FBFFF1;
    /* background-color: cadetblue;
    border: 3px solid tomato; */
    border-radius: 3px;
    width: 75vw;
    min-height: 75vh;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    visibility: hidden;
}

.gallery-modal > *:not(:last-child) {
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 10px;
}

.modal-title {
    height: 100px;
}



.images-container {
    height: 90%;
    width: 100%;
}

body.show-modal .gallery-modal {
    visibility: visible;
}

.gallery-modal img {
    height: 100px;
    width: 100px;
    margin: 5px;
    object-fit: cover;
}
.gallery-modal img:hover {
    cursor: pointer;
    outline: 1px solid #fff;
}


/* HELPERS */


.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.wrap {
    flex-wrap: wrap;
}

@media (max-width: 1100px) {
    .canvas-container {
        width: 50%;
    }
    .options-container {
        width:50%;
    }
}
@media (max-width: 700px) {
    
    @media (max-height: 400px) {
        .canvas-container {
            width: 40%;
        }   
    }
}
@media (max-width: 600px) {
    header .main-nav {
        height: fit-content;
        position: fixed;
        flex-direction: column;
        right: 0;
        top: -41px;
        transform: translate(101%,50%);
    }
    header .main-nav > * {
        width: 40vw;
        height: 50px;
    }
    .main-nav button {
        width: 100%;
    }
    .main-nav-hamburger {
        display: block;
    }
    header, footer {
        height: 5%;
    }
    .main-container {
        flex-direction: column;
        padding: 15px;
        height: 85%;
    }
    .canvas-container {
        margin-right: 0;
        width: 70%;
    }
    .options-container {
        height: 30%;
        width: 100%;
        padding: 0;
        /* flex-direction: row; */
    }
    .options-container > * {
        width: 33.33333%;
        height: 100%;
        flex-direction: column;
    }
}
@media (max-width: 470px) {
    
    .main-container {
        padding: 0;
    }
    .canvas-container {
        height: 60%;
        width: 65%;
        margin: 5%;
    }
    .options-container {
        height: 40%;
        margin: 5%;
        width: 95%;
    }
    .options-container button {
        width: 40px;
        height: 40px;
    }
}
@media (max-width: 370px) {
    .canvas-container {
        width: 75%;
        /* width: 80%; */
    }
}